# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build ve paketler
bin/
obj/
*.dll
*.exe
*.pdb
*.app
*.log

# Rider ve diğer IDE'ler
.idea/
*.resharper

# Paket yöneticileri
*.nupkg
*.snupkg
packages/

# .NET Core publish
publish/
*.dotCover

# NuGet
*.nuget.props
*.nuget.targets

# OS dosyaları
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.DS_Store

# Azure
*.azurePubxml
